<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Lista01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>exe01</display-name>
    <servlet-name>exe01</servlet-name>
    <servlet-class>requests.exe01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exe01</servlet-name>
    <url-pattern>/exe01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exe02</display-name>
    <servlet-name>exe02</servlet-name>
    <servlet-class>requests.exe02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exe02</servlet-name>
    <url-pattern>/exe02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exe03</display-name>
    <servlet-name>exe03</servlet-name>
    <servlet-class>requests.exe03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exe03</servlet-name>
    <url-pattern>/exe03</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exe04</display-name>
    <servlet-name>exe04</servlet-name>
    <servlet-class>requests.exe04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exe04</servlet-name>
    <url-pattern>/exe04</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exe05</display-name>
    <servlet-name>exe05</servlet-name>
    <servlet-class>requests.exe05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exe05</servlet-name>
    <url-pattern>/exe05</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exe06</display-name>
    <servlet-name>exe06</servlet-name>
    <servlet-class>requests.exe06</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exe06</servlet-name>
    <url-pattern>/exe06</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exe07</display-name>
    <servlet-name>exe07</servlet-name>
    <servlet-class>requests.exe07</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exe07</servlet-name>
    <url-pattern>/exe07</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exe08</display-name>
    <servlet-name>exe08</servlet-name>
    <servlet-class>requests.exe08</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exe08</servlet-name>
    <url-pattern>/exe08</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exe09</display-name>
    <servlet-name>exe09</servlet-name>
    <servlet-class>requests.exe09</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exe09</servlet-name>
    <url-pattern>/exe09</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exe10</display-name>
    <servlet-name>exe10</servlet-name>
    <servlet-class>requests.exe10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exe10</servlet-name>
    <url-pattern>/exe10</url-pattern>
  </servlet-mapping>
</web-app>