<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Lista03</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>exe01</display-name>
    <servlet-name>exe01</servlet-name>
    <servlet-class>lista3.exe01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exe01</servlet-name>
    <url-pattern>/exe01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exe02</display-name>
    <servlet-name>exe02</servlet-name>
    <servlet-class>lista3.exe02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exe02</servlet-name>
    <url-pattern>/exe02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletexe02</display-name>
    <servlet-name>servletexe02</servlet-name>
    <servlet-class>lista3.servletexe02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletexe02</servlet-name>
    <url-pattern>/servletexe02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exe03</display-name>
    <servlet-name>exe03</servlet-name>
    <servlet-class>lista3.exe03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exe03</servlet-name>
    <url-pattern>/exe03</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>exe04</display-name>
    <servlet-name>exe04</servlet-name>
    <servlet-class>lista3.exe04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exe04</servlet-name>
    <url-pattern>/exe04</url-pattern>
  </servlet-mapping>
</web-app>